/* * {
    border: 1px solid blue !important;
} */

.icon {
    height: 32px;
    width: 32px;
    margin: 3px;
    cursor: pointer;
}

#view-switch-container {
    background-color: rgb(236, 236, 161);
    margin: 15px 50px;
    display: flex;
    justify-content: flex-end;
}

.bar-view-list-item {
    display: flex;
    justify-content: center;
    margin: 5px;
    padding-bottom: 7.5px;
    border-bottom: 1px solid rgb(236, 236, 161);
}

.bar-view-list-item .item-title {
    width: 50vw;
    margin-top: auto;
    margin-bottom: auto;
    min-width: 350px;
}

.bar-view-list-item .btn-show-movie {
    margin-right: 15px;
}